@model MVC_vezbi.Models.Movie
@{
    ViewBag.Title = "NewMovie";
}

<h2>Edit Movie - @Model.Name:</h2>

@using (Html.BeginForm("EditMovieInList", "Movies"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Rating)
        @*bitno*@
        @Html.TextBoxFor(m => m.Rating, new { @class = "form-control", type = "number" })
        @*@Html.ValidationMessageFor(m => m.Rating)*@
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DownloadUrl)
        @Html.TextBoxFor(m => m.DownloadUrl, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(m => m.DownloadUrl)*@
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ImageUrl)
        @Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(m => m.Name)*@
    </div>

    <button type="submit" class="btn btn-default">Save</button>
}

