@model MVC_vezbi.Models.Movie
@{
    ViewBag.Title = "NewMovie";
}

<h2>Add a new Movie:</h2>

@*<form method="post" action="/test">
        <input name="rating"/>
        <button type="submit">Save</button>
    </form>*@

@*po default ova dole ima POST metod , ako sakame drug kje treba da go zadademe so tret argument*@
@*(koja akcija, koj kontroler, <method>)*@
@using (Html.BeginForm("InsertNewMovie", "Movies"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Rating)
        @*bitno*@
        @Html.TextBoxFor(m => m.Rating, new { @class = "form-control", type = "number" })
        @*@Html.ValidationMessageFor(m => m.Rating)*@
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DownloadUrl)
        @Html.TextBoxFor(m => m.DownloadUrl, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(m => m.DownloadUrl)*@
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ImageUrl)
        @Html.TextBoxFor(m => m.ImageUrl,new { @class = "form-control" })
        @*@Html.ValidationMessageFor(m => m.Name)*@
    </div>

    <button type="submit" class="btn btn-default">Save</button>
}

