@model MVC_vezbi.Models.MovieRentals
@*Ova se prai za specificiranje ili kastiranje na MODELOT*@

@{
    ViewBag.Title = "Random";
}

<h2>@Model.movie.Name</h2>
<h2>@Model.movie.Rating</h2>
<img src ="@Model.movie.ImageUrl"/>

@* prv pat Razor block vvv *@
<h2>Clients:</h2>
<ul>
    @{ 
      
        int i = 0;
        foreach(var client in Model.clients) { 
            <li>
            <a href="/Movies/ShowClient/@i">@client.Name, @client.MovieCard</a>
            </li>
            i++;
        }

    }
</ul>
